@import "tailwindcss";

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothic.woff2') format('woff2'),
    url('/fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gravesend Sans';
  src: url('/fonts/GravesendSans-Bold.woff2') format('woff2'),
    url('/fonts/GravesendSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gravesend Sans';
  src: url('/fonts/GravesendSans-Inline.woff2') format('woff2'),
    url('/fonts/GravesendSans-Inline.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gravesend Sans';
  src: url('/fonts/GravesendSans-Light.woff2') format('woff2'),
    url('/fonts/GravesendSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gravesend Sans';
  src: url('/fonts/GravesendSans-Medium.woff2') format('woff2'),
    url('/fonts/GravesendSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Copyright Radosaw ukasiewicz, radluka.com';
  src: url('/fonts/Copyright-Radosaw-ukasiewicz-radlukacom.woff2') format('woff2'),
    url('/fonts/Copyright-Radosaw-ukasiewicz-radlukacom.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --font-body: 'Century Gothic', sans-serif;
  --font-heading: 'Gravesend Sans', sans-serif;
  --font-nav: 'Copyright Radosaw ukasiewicz, radluka.com', serif;
  --font-button: var(--font-archivo);

  --color-primary: #720049;
  --color-primary-light: #B829D3;
  --color-secondary: #E45612;
  --color-tertiary: #2847AF;
  --color-brand-yellow: #EEBB72;
  --color-brand-violet: #320C52;
  --color-brand-rose: #B929D8;
  --color-white:#FFFFFF;

  --bg-primary: #720049;
  --bg-primary-light: #B829D3;
  --bg-secondary: #E45612;
  --bg-tertiary: #2847AF;
  --bg-brand-yellow: #EEBB72;
  --bg-brand-violet: #320C52;
  --bg-brand-rose: #B929D8;
  --bg-white:#FFFFFF
}

body {
  font-family: var(--font-body);
}
